*{
  font-family: 'Source Code Pro', monospace;
  /*background-color: rgba(204,0,0,96);*/
  color: rgb(255, 240, 240);
}
#root{
  background-image: url("https://getwallpapers.com/wallpaper/full/8/b/9/1091826-new-soviet-union-wallpaper-2560x1440-images.jpg");
  min-height:1000px;
  
  background-position: center top;
}
.yellow{
  color:rgba(255,215,0,120);
}
.red{
  color: rgb(255, 240, 240);
}
#flagUserForm{
  left:50%;
  top:60px;
  z-index: 1;
}
#flagBTN{
  float: right;
  margin-right: 0;
  margin-left: auto;
}
.menuOption{
  z-index:2;
  background-color:#fff;
  font-size: 24px;
  font-weight: bold;
  /*display: -ms-inline-grid;*/
  /*float: left;*/
  margin: auto;
  padding: 10px;
}
.menuHeader{
  z-index:100;
  top:0px;
  background-color:#0039A6;
  position: fixed;
  width: 100%;
  /*height: 50px;*/
  /*padding:auto;*/
  /*margin: auto;*/
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, auto) ;
  /*grid-template-rows: auto;*/
}
.main{
  padding: 5px 10px;
}
.whiteColor{
  color:#fff;
}
.blueColor{
  color:#0039A6;
}
.redColor{
  color:#d52b1e;
}
.whiteBColor{
  background-color:#fff;
}
.blueBColor{
  background-color:#0039A6;
}
.redBColor{
  background-color:#d52b1e;
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index:-1;
}
.Product{
  z-index:1;
  overflow: hidden;
  position: relative;
}
.Main{
  background-color: aqua;
  display: inline;
}
.imageWrap{
  position:relative;
  overflow:hidden;
}
/*
-https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity
*/