*{
  font-family: 'Source Code Pro', monospace;
  background-color: rgba(204,0,0,96);
  color: rgb(255, 240, 240);
}
.yellow{
  color:rgba(255,215,0,120);
}
.red{
  color: rgb(255, 240, 240);
}
.menuOption{
  font-size: 15px;
  display: block;
  float: left;
  margin: 0 5.5%;
  padding: 10px 5%;
  background-color:rgb(133, 62, 62);
}
.main{
  padding: 5px 10px;
}
.menuHeader{
  top:0px;
  background-color: rgb(43, 59, 145);
  position: fixed;
  width: 100%;
  height: 50px;
  padding:0;
  margin: 0;
  list-style-type: none;
}
.Main{
  background-color: aqua;
  display: inline;
}